<div class="row">
    <div class="col col-xs-12">
        <!--todo: refactor into a "list-item" directive/component"-->
        <div ng-repeat="product in ListCtrl.products" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{product.name}}</h3>
            </div>
            <div class="panel-body">
                {{product.description}}
                <img  ng-repeat="image in product.images" width="140" height="140" class="img-responsive img-rounded" ng-src="{{image.src}}" alt="picture">
            </div>
        </div>
    </div>
</div>